{% extends 'search/base.html' %} {% block search_manager %}

<div class="row">
  <div class="col-xl-9 mx-auto">
    <h1>Search engine</h1>
    <h5 class="mb-5">
      (Information Retrieval System) of Towards Data Science posts
    </h5>

    <form class="d-flex" role="search">
      <input
        class="form-control me-3"
        name="search_text"
        type="search"
        placeholder="Django or flask that is the question 🤔"
        aria-label="Search"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <br />
  </div>
</div>

{% endblock %}