.bg {

    /* The image used */
    background-image: url("background.jpg");
    /* Half height */
    height: 30%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.page-holder {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover !important;
}

#fileDisplayArea {
  margin-top: 2em;
  width: 100%;
  overflow-x: auto;
}



